@font-face {
  font-family: 'Aero Matics Regular';
  src: url('assets/aero-matics-regular.woff') format('woff');
}

@font-face {
  font-family: 'Aero Matics Display Regular';
  src: url('assets/aero-matics-display-regular.woff') format('woff');
}

@font-face {
  font-family: 'Aero Matics Light';
  src: url('assets/aero-matics-light.woff') format('woff');
}

@font-face {
  font-family: 'Legion Icons';
  src: url('assets/legion-icons.woff') format('woff');
}

$backgroundColor: #cccccc;
$borderRadiusSize: 10px;
$darkBgTextColor: #ffffff;

$cardWidth: 418px;
$cardHeight: 300px;

.unit-card {
  background: $backgroundColor;
  border-radius: $borderRadiusSize;
  width: $cardWidth;
  height: $cardHeight;

  font-family: 'Aero Matics Regular';

  strong {
    font-family: 'Aero Matics Display Regular';
  }

  em {
    font-family: 'Aero Matics Light Italic';
  }

  & > header {
    display: flex;
    height: 40px;

    & > .rank-and-minis {
      color: $darkBgTextColor;
      line-height: 15px;
      text-align: center;

      & > .rank {
        font-family: 'Legion Icons';
        font-size: larger;
        padding: 5px;
      }

      & > .minis {
        background: #333;
        font-size: x-small;
      }
    }

    & > .title {
      background: #f0f0f0;
      line-height: 10px;
      flex: 1;
      text-align: center;

      strong {
        display: block;
        padding-top: 10px;
        letter-spacing: 0.5px;
      }

      em {
        font-family: 'Aero Matics Light';
        font-size: x-small;
        font-style: normal;
        text-transform: uppercase;
      }
    }
  }

  & > aside.stats {
    float: right;
    width: 95px;
    height: 100%;

    .icon {
      font-family: 'Legion Icons';
      font-weight: normal;
    }

    & > .image-and-type {
      border-radius: 0px $borderRadiusSize 0px 0px;
      width: 95px;
      height: 95px;
      background: #333;

      & > img {
        height: 80px;
        width: 100%;
        background: #aaa;
        border-image-width: 0;
        border-radius: 0px $borderRadiusSize 0px 0px;
      }

      & > .type {
        color: $darkBgTextColor;
        font-family: 'Aero Matics Light';
        font-size: xx-small;
        text-align: center;
        text-transform: uppercase;
      }
    }

    & > .defensive {
      height: 60px;

      & > .dice {
        float: left;
        height: 75px;
        width: 30px;
        background: #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: large;

        &.red {
          color: #90181e;
          text-shadow: 0px 1px #fff;
        }

        &.white {
          color: #fff;
          text-shadow: 0px 1px #000;
        }
      }

      & > .health {
        background: #202020;
        padding: 10px 5px;
        font-size: x-large;
        font-weight: bold;

        & > .wounds {
          color: #5eba49;
          text-align: center;
        }

        & > .mitigation {
          color: #faf322;
          text-align: center;
        }
      }

      & > .surges {
        background: #999;

        & > div {
          background: #222;
          color: #fff;
          height: 23px;
          border: 1px solid #333;
          display: flex;

          & > span {
            flex: 1;
            text-shadow: 0px 1px #000;
            text-align: center;
            font-size: large;
          }
        }
      }

      & > .speed {
        background: #999;
        height: 19px;
        display: flex;
        align-items: center;

        & > .bar {
          background: #4c141b;
          border: 1px solid #000;
          height: 7px;
          flex: 1;
          margin: 2px 2px;

          &.lit {
            background: #e64388;
          }
        }
      }
    }
  }

  & > aside.upgrades {
    border-radius: $borderRadiusSize 0px 0px $borderRadiusSize;
    float: left;
    width: 50px;
    height: 100%;
    background: #333;

    & > .logo {
      display: flex;
      border-radius: 10px 0px 0px 0px;
      background: #888;
      height: 40px;
      align-items: center;
      justify-content: center;

      & > .icon {
        height: 30px;
        width: 30px;
      }
    }

    & > .points {
      background: #dfeff0;
      border: 1px solid #307776;
      height: 15px;
      text-align: center;
      font-size: small;
    }

    & .slots {
      color: #fff;
      font-family: 'Legion Icons';
      font-size: xx-large;
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
      text-shadow: 0px 2px #000;
    }
  }

  & > main {
    background: #fff;
    height: 200px;
    width: 322px;
  }
}
