@font-face {
  font-family: 'Aero Matics Regular';
  src: url('assets/aero-matics-regular.woff') format('woff');
}

@font-face {
  font-family: 'Aero Matics Display Regular';
  src: url('assets/aero-matics-display-regular.woff') format('woff');
}

@font-face {
  font-family: 'Aero Matics Light';
  src: url('assets/aero-matics-light.woff') format('woff');
}

@font-face {
  font-family: 'Legion Icons';
  src: url('assets/legion-icons.woff') format('woff');
}

@font-face {
  font-family: 'Minion Pro';
  src: url('assets/minion-pro-italic.woff') format('woff');
}

$backgroundColor: #cccccc;
$borderRadiusSize: 10px;
$darkBgTextColor: #ffffff;

$cardWidth: 418px;
$cardHeight: 300px;

.unit-card {
  background: $backgroundColor;
  border-radius: $borderRadiusSize;
  border: 1px solid #000;
  width: $cardWidth;
  height: $cardHeight;

  font-family: 'Aero Matics Regular';

  strong {
    font-family: 'Aero Matics Display Regular';
  }

  & > header {
    display: flex;
    height: 40px;

    & > .rank-and-minis {
      color: $darkBgTextColor;
      line-height: 15px;
      text-align: center;

      & > .rank {
        font-family: 'Legion Icons';
        font-size: larger;
        padding: 5px;
        text-shadow: 0px 1px #000;
      }

      & > .minis {
        background: #333;
        font-size: x-small;
      }
    }

    & > .title {
      background: #f0f0f0;
      line-height: 12px;
      flex: 1;
      text-align: center;

      strong {
        display: block;
        padding: 10px 20px 0px 20px;
        letter-spacing: 0.5px;
      }

      em {
        font-family: 'Aero Matics Light';
        font-size: x-small;
        font-style: normal;
        text-transform: uppercase;
      }
    }
  }

  & > aside.stats {
    float: right;
    width: 95px;
    height: 230px;

    .icon {
      font-family: 'Legion Icons';
      font-weight: normal;
    }

    & > .image-and-type {
      border-radius: 0px $borderRadiusSize 0px 0px;
      width: 95px;
      height: 95px;
      background: #333;

      & > .art {
        display: flex;
        height: 80px;
        width: 100%;
        background: #aaa;
        border-image-width: 0;
        border-radius: 0px $borderRadiusSize 0px 0px;

        &.placeholder {
          background: #222;
          color: #aaa;
          font-family: 'Aero Matics Display Regular';
          font-size: x-small;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      & > .type {
        color: $darkBgTextColor;
        font-family: 'Aero Matics Light';
        font-size: xx-small;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
      }
    }

    & > .defensive {
      height: 60px;

      & > .dice {
        float: left;
        height: 75px;
        width: 30px;
        background: #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: large;

        &.red {
          color: #90181e;
          text-shadow: 0px 1px #fff;
        }

        &.white {
          color: #fff;
          text-shadow: 0px 1px #000;
        }
      }

      & > .health {
        background: #202020;
        padding: 10px 5px;
        font-size: x-large;
        font-weight: bold;

        & > .wounds {
          color: #5eba49;
          text-align: center;
        }

        & > .mitigation {
          color: #faf322;
          text-align: center;

          &.resilience {
            color: #e8a33e;
          }
        }
      }

      & > .surges {
        background: #999;

        & > div {
          background: #222;
          color: #fff;
          height: 23px;
          border: 1px solid #333;
          display: flex;

          & > span {
            flex: 1;
            text-shadow: 0px 1px #000;
            text-align: center;
            font-size: large;
          }
        }
      }

      & > .speed {
        background: #999;
        height: 19px;
        display: flex;
        align-items: center;

        & > .bar {
          background: #4c141b;
          border: 1px solid #000;
          border-radius: 5px;
          height: 7px;
          flex: 1;
          margin: 2px 2px;

          &.lit {
            background: #e64388;
          }
        }
      }
    }
  }

  & > aside.upgrades {
    border-radius: $borderRadiusSize 0px 0px $borderRadiusSize;
    float: left;
    width: 50px;
    height: 100%;
    background: #333;

    & > .logo {
      display: flex;
      border-radius: 10px 0px 0px 0px;
      background: #888;
      height: 40px;
      align-items: center;
      justify-content: center;

      & > .icon {
        height: 30px;
        width: 30px;
      }
    }

    & > .points {
      background: #dfeff0;
      border: 1px solid #307776;
      height: 15px;
      text-align: center;
      font-size: small;
    }

    & .slots {
      color: #fff;
      font-family: 'Legion Icons';
      font-size: xx-large;
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
      text-shadow: 0px 2px #000;
    }
  }

  & > main {
    background: #fff;
    height: 200px;
    width: 322px;

    & > ul {
      margin: 0;
      padding: 0px 5px 0px 55px;
      list-style: none;
      font-size: small;

      & > li {
        padding-top: 5px;

        span {
          font-family: 'Legion Icons';
        }

        & > strong {
          padding-right: 5px;
        }

        & > em {
          font-family: 'Minion Pro';
          font-style: normal;
          color: #333;
          font-size: smaller;

          &:before {
            content: '(';
          }

          &:after {
            content: ')';
          }
        }
      }
    }
  }

  & > footer {
    width: 418px;

    & > ul {
      list-style: none;
      margin: 0;
      margin-left: 50px;
      padding: 0;

      display: flex;
      flex-direction: row;

      & > li {
        display: block;
        flex: 1;
        border-right: 2px solid #333;

        &:last-child {
          border-right: none;
        }

        & > strong {
          display: block;
          height: 15px;

          font-size: x-small;
          color: #fff;
          font-weight: normal;
          line-height: 15px;
          padding: 0px 5px;
          background: #4d4c4f;
          letter-spacing: 0.5px;
        }

        & > figure {
          margin: 0;
          padding: 0;

          display: flex;
          height: 25px;
          padding: 0px 5px;
          background: #9b9b9b;

          align-items: center;

          span {
            background: #bbb;
            border-radius: 5px;
            font-family: 'Legion Icons';
            font-size: larger;

            &::before {
              color: #417b9c;
            }

            &.melee {
              &::before {
                content: 'a';
              }
            }

            &.range-1 {
              &::before {
                content: '1';
              }
            }

            &.range-2 {
              &::before {
                content: '2';
              }
            }

            &.range-3 {
              &::before {
                content: '3';
              }
            }

            &.range-4 {
              &::before {
                content: '4';
              }
            }

            &.range-6 {
              &::before {
                content: '0';
              }
            }

            &:not(.dice) {
              margin-right: 5px;
            }

            &.dice {
              background: #ccc;
              height: 6px;
              width: 6px;
              border-radius: 0;
              transform: rotateX(15deg) rotateZ(45deg);
              margin-top: -8px;

              &.odd {
                margin-top: 6px;
              }

              &.red {
                background: #90181e;
                border: 1px solid #fff;
              }

              &.black {
                background: #000;
                border: 1px solid #fff;
              }

              &.white {
                background: #fff;
                border: 1px solid #000;
              }
            }
          }
        }

        & > section {
          display: block;
          background: #fff;
          height: 20px;
          padding: 0px 5px;
          text-align: center;

          & > ul {
            list-style: none;
            margin: 0;
            padding: 0;

            & > li {
              font-family: 'Aero Matics Display Regular';
              display: inline-block;
              font-size: x-small;
              font-weight: bold;

              &::after {
                content: ', ';
                padding-right: 3px;
              }

              &:last-child::after {
                content: '';
              }
            }
          }
        }

        &:last-child {
          > section {
            border-radius: 0px 0px 10px 0px;
          }
        }
      }
    }
  }
}
