@font-face {
  font-family: 'Aero Matics Display Regular';
  src: url('../assets/aero-matics-display-regular.woff') format('woff');
}

@font-face {
  font-family: 'Minion Pro';
  src: url('../assets/minion-pro.woff') format('woff');
}

@font-face {
  font-family: 'Minion Pro Italic';
  src: url('../assets/minion-pro-italic.woff') format('woff');
}

.symbolized-text {
  font-family: 'Minion Pro';

  strong {
    font-family: 'Aero Matics Display Regular';
  }

  &.reminder {
    font-family: 'Minion Pro Italic';
    font-size: small;

    .keyword {
      font-style: italic;
    }
  }

  &.keyword {
    font-family: 'Aero Matics Display Regular';
    font-weight: bold;
  }
}

.keyword-text {
  > .reminder {
    padding-left: 4px;

    &::before {
      content: '(';
    }

    &::after {
      content: ')';
    }
  }
}
