@font-face {
  font-family: 'Aero Matics Display Regular';
  src: url('../assets/aero-matics-display-regular.woff') format('woff');
}

.html2canvas {
  .weapon > header {
    line-height: 7px;
    padding: 3px 3px 6px 3px;
  }
}

.weapon {
  > header {
    background: #555;
    color: #fff;
    font-family: 'Aero Matics Display Regular';
    font-weight: normal;
    font-size: x-small;
    letter-spacing: 0.5px;
    padding: 3px;
  }

  > main {
    background: #aaa;
    padding: 2px;
  }

  > footer {
    background-color: #fff;
    font-family: 'Aero Matics Display Regular';
    font-size: x-small;
    font-weight: bold;
    height: 16px;
    line-height: 16px;

    > ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;

      > li {
        display: inline-block;

        &::after {
          content: ',';
          padding-right: 5px;
        }

        &:last-child {
          &::after {
            content: '';
          }
        }
      }
    }
  }
}

.weapon-bar {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    border-right: 2px solid #2f2f2f;
    flex: 1;

    &:last-child {
      border-right: none;
    }
  }
}
