span.attack-dice-icon {
  background: #ccc;
  display: inline-block;
  transform: rotateX(15deg) rotateZ(45deg);
  min-height: 6px;
  min-width: 6px;

  &[data-color='Red'] {
    background: #90181e;
    border: 1px solid #ddd;
  }

  &[data-color='Black'] {
    background: #000;
    border: 1px solid #ddd;
  }

  &[data-color='White'] {
    background: #fff;
    border: 1px solid #333;
  }
}
